node_modules
coverage
dist
.next
.nyc_output
.pytest_cache
cypress
.vite
.turbo
.eslintcache
test-results
playwright-report
storybook-static
*.log
.git
.gitignore
Dockerfile
Dockerfile.dev
README.md
.env
.env.local
.env.*.local
.vscode
.idea
src/tests
.pnpm-store